@import "../variables";

.pagination {
  width: 100%;
  ul {
    display: flex;
    li {
      width: 45px;
      height: 45px;
      margin-right: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid $orange;
      border-radius: 50%;
      background: #fff;
      font-size: 16px;
      font-weight: 600;
      color: #000;
      line-height: 42;
      user-select: none;
      &.active {
        color: #fff;
        background: $orange;
      }
      &:hover {
        cursor: pointer;
        color: #fff;
        background: $orange;
      }
    }
  }
}
